@model IEnumerable<ShootingStars.Models.SubjectMaterial>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subjects.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaterialFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaterialName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subjects.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaterialFile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaterialName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubjectMaterialID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubjectMaterialID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubjectMaterialID })
        </td>
    </tr>
}

</table>
