@model IEnumerable<ShootingStars.Models.English5>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.English5title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.English5Descr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.English5Doc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.English5Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.English5Teacher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.English5TeacherImg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.English5title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.English5Descr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.English5Doc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.English5Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.English5Teacher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.English5TeacherImg)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.English5Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.English5Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.English5Id })
        </td>
    </tr>
}

</table>
