@model ShootingStars.Models.English4

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_TempLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>English4</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.English4title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.English4title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.English4Descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.English4Descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.English4Doc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.English4Doc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.English4Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.English4Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.English4Teacher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.English4Teacher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.English4TeacherImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.English4TeacherImg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.English4Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
