@model IEnumerable<ShootingStars.Models.Support>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TempLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupportName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupportEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SupportName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupportEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SupportID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SupportID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SupportID })
        </td>
    </tr>
}

</table>
