@model IEnumerable<ShootingStars.Models.Subject>

@{
    ViewBag.Title = "Subject4";
    Layout = "~/Views/Shared/_TempLayout.cshtml";
}

<h2>Subject4</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.TeacherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectGrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectImg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Teacher.TeacherName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SubjectName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SubjectGrade)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SubjectDescription)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SubjectImg)
    </td>
</tr>
}

</table>
