@model IEnumerable<ShootingStars.Models.Subject>

@{
    ViewBag.Title = "Subject5";
    Layout = "~/Views/Shared/_TempLayout.cshtml";
}

<h2>Subject5</h2>


<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <section id="mu-from-blog">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-from-blog-area">
                                <!-- Title -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mu-from-blog-content">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <article class="mu-blog-item">
                                                        <a href="#"><img src="@Url.Content(item.SubjectImg)" alt=""></a>
                                                        <div class="mu-blog-item-content">
                                                            <ul class="mu-blog-meta">
                                                                <h3>@item.SubjectName</h3>
                                                                @*<li><a href="#"><i class="fa fa-comment-o"></i>26</a></li>
                                                                    <li><i class="fa fa-heart-o"></i>250</li>*@
                                                            </ul>
                                                            <h2 class="mu-blog-item-title"><a href="#">Grade: @item.SubjectGrade</a></h2>
                                                            <p>
                                                                Description: @item.SubjectDescription
                                                            </p>
                                                            <p>
                                                                Teacher: @item.Teacher.TeacherName
                                                            </p>
                                                            @*<a class="mu-blg-readmore-btn" href="blog-single.html">Read more <i class="fa fa-long-arrow-right"></i></a>*@
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </tr>
    }

</table>
