@model IEnumerable<ShootingStars.Models.SubjectMaterial>

@{
    ViewBag.Title = "ViewSubjectMaterial";
    Layout = "~/Views/Shared/_TempLayout.cshtml";
}

<style>
    #paragraph {
        background-color: snow;
        width: 600px;
        border: 15px solid lightgrey;
        padding: 50px;
        margin: 20px auto;
        text-align: center;
    }
</style>

<!-- Start Page Header area -->
<div id="mu-page-header" style="background-image: url('/Content/Website Images/HeaderImage (Crop).jpeg')" ;>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-header-area">
                    <h1 class="mu-page-header-title">Subject Material</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Header area -->
<!-- Start Breadcrumb -->
<div id="mu-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb mu-breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Grade</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Subject Material</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

&ensp;&ensp;&ensp;&ensp;

<br />

<div style="text-align:center"><h1>Slides:</h1></div>

@foreach (var item in Model)
{
    <div id="paragraph">
        <h2>@item.MaterialName</h2>
        <p>Subject: @item.Subjects.SubjectName</p>
        <p><button><a href="~/Content/SubjectMaterial/@item.MaterialFile" download="@item.MaterialFile">Download</a></button></p>
    </div>
}

@if (Request.IsAuthenticated && User.IsInRole("Teacher"))
{
    <div style="text-align:center"><p>@Html.ActionLink("+ Add New Slides", "Create", "SubjectMaterials")</p></div>
}

@if (Request.IsAuthenticated && User.IsInRole("Administrator"))
{
    <div style="text-align:center"><p>@Html.ActionLink("+ Add New Slides", "Create", "SubjectMaterials")</p></div>
}




<br /><br /><br />

<div style="text-align:center"><h1>Quizzes:</h1></div>
<div id="paragraph">
    @foreach (var item in Model)
    {
        var quiz = item.Subjects.Quizzes.Where(x => x.SubjectID == item.SubjectID);
        foreach (var items in quiz)
        {
            @Html.ActionLink(items.QuizName, "AttemptQuiz", new { id = items.QuizID })
            <br />
        }
    }
</div>

<div>
    @{ Html.RenderAction("StudentScore");}
</div>


<br /><br /><br />
@if (Request.IsAuthenticated && User.IsInRole("Student"))
{
    <div style="text-align:center"><h1>Write Reviews:</h1></div>

    <div id="paragraph">
        <h2>Write a Review of Subject</h2>
        <p><button><a href='@Url.Action("Create", "SubjectReviews")'>Write Review</a></button></p>
    </div>
    <div id="paragraph">
        <h2>Write a Review of Teacher</h2>
        <p><button><a href='@Url.Action("Create", "TeacherReviews")'>Write Review</a></button></p>
    </div>
}


<br /><br />

@if (Request.IsAuthenticated && User.IsInRole("Teacher"))
{
    <div style="text-align:center"><h1>View Reviews:</h1></div>

    <div id="paragraph">
        <h2>View Reviews of Subjects</h2>
        <p><button><a href='@Url.Action("Index", "SubjectReviews")'>View Reviews</a></button></p>
    </div>
    <div id="paragraph">
        <h2>View Reviews of Teachers</h2>
        <p><button><a href='@Url.Action("Index", "TeacherReviews")'>View Reviews</a></button></p>
    </div>
}


@if (Request.IsAuthenticated && User.IsInRole("Administrator"))
{
    <div style="text-align:center"><h1>View Reviews:</h1></div>

    <div id="paragraph">
        <h2>View Reviews of Subjects</h2>
        <p><button><a href='@Url.Action("Index", "SubjectReviews")'>View Reviews</a></button></p>
    </div>
    <div id="paragraph">
        <h2>View Reviews of Teachers</h2>
        <p><button><a href='@Url.Action("Index", "TeacherReviews")'>View Reviews</a></button></p>
    </div>
}
