@{
    ViewBag.Title = "AdminPanel";
    Layout = "~/Views/Shared/_TempLayout.cshtml";
}

<!-- Start Page Header area -->
<div id="mu-page-header" style="background-image: url('/Content/Website Images/HeaderImage (Crop).jpeg')" ;>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-header-area">
                    <h1 class="mu-page-header-title">Admin Panel</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Header area -->
<!-- Start Breadcrumb -->
<div id="mu-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb mu-breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Admin Panel</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<br />
<br />

&ensp;

<ul>
    <li>&nbsp;&nbsp;&bull; @Html.ActionLink("Chats", "Index", "Chats")</li>
    <li>&nbsp;&nbsp;&bull; @Html.ActionLink("Queries", "Index", "Queries")</li>
    <li>&nbsp;&nbsp;&bull; @Html.ActionLink("Quizzes", "Index", "Quizs")</li>
    <li>&nbsp;&nbsp;&bull; @Html.ActionLink("Student Quizzes", "Index", "StudentQuizs")</li>
    <li>&nbsp;&nbsp;&bull; @Html.ActionLink("Subject Materials", "Index", "SubjectMaterials")</li>
    <li>&nbsp;&nbsp;&bull; @Html.ActionLink("Subjects", "Index", "Subjects")</li>
    <li>&nbsp;&nbsp;&bull; @Html.ActionLink("Supports", "Index", "Supports")</li>
    <li>&nbsp;&nbsp;&bull; @Html.ActionLink("Teachers", "Index", "Teachers")</li>
</ul>


<br /><br /><br />


