@{
    ViewBag.Title = "AdminPanel";
    Layout = "~/Views/Shared/_TempLayout.cshtml";
}

<h2>Admin Panel:</h2>
<br />

<ul>
    <li>&nbsp;&nbsp;&bull; @Html.ActionLink("Chats", "Index", "Chats")</li>
    <li>&nbsp;&nbsp;&bull; @Html.ActionLink("Queries", "Index", "Queries")</li>
    <li>&nbsp;&nbsp;&bull; @Html.ActionLink("Quizzes", "Index", "Quizs")</li>
    <li>&nbsp;&nbsp;&bull; @Html.ActionLink("Student Quizzes", "Index", "StudentQuizs")</li>
    <li>&nbsp;&nbsp;&bull; @Html.ActionLink("Subject Materials", "Index", "SubjectMaterials")</li>
    <li>&nbsp;&nbsp;&bull; @Html.ActionLink("Subjects", "Index", "Subjects")</li>
    <li>&nbsp;&nbsp;&bull; @Html.ActionLink("Supports", "Index", "Supports")</li>
    <li>&nbsp;&nbsp;&bull; @Html.ActionLink("Teachers", "Index", "Teachers")</li>
</ul>


<br /><br /><br /><br />


